[run]
branch = True
source =
    python
parallel = True
concurrency = multiprocessing
omit =
    python/tests/*
    python/sitecustomize.py
    sitecustomize.py
    usercustomize.py
    python/run_tests.py
disable_warnings =
    no-data-collected
    already-imported

[report]
show_missing = False
skip_covered = False
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    raise NotImplementedError

[xml]
output = python/tests/coverage/coverage.xml

[json]
output = python/tests/coverage/coverage.json
