[build-system]
requires = []

[tool.pytest.ini_options]
addopts = "-q --maxfail=1"
python_files = ["test_*.py"]


[tool.black]
line-length = 88

[tool.isort]
profile = "black"

[tool.ruff]
line-length = 88
